/**
 * ICON IMAGE STYLES
 */

.BGcenter {
	background-position: center !important;
}

@media (min-width: 768px) {
	.singleIcon {
		text-align: center;
		padding: 15px;
		max-width: none;
		max-height: none;
	}
}

@media (max-width: 767px) {
	.singleIcon {
		text-align: center;
		padding: 5px;
		width: 65%;
		height: 65%;
	}
}



@media (min-width: 1200px) {
	.iconOut {
		padding-top: 10px;
		margin-bottom: 10px;
		height: 150px;
	}
}

@media (max-width: 1199px) {
	.iconOut {
		padding-top: 10px;
		height: 150px;
	}
}

.iconOutTop {
	padding-bottom: 10px;
	margin-top: 20px;
	height: 150px;
}

.iconOutBottom {
	padding-top: 10px;
	margin-bottom: 40px;
	height: 150px;
}








@media (min-width: 1200px) {
	.iconIn1 {
		background-image: url('../img/icon1.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 90% auto;
	}
}

@media (max-width: 1199px) and (min-width: 768px){
	.iconIn1 {
		background-image: url('../img/icon1.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 30% auto;
	}
}

@media (max-width: 767px) and (min-width: 600px) {
	.iconIn1 {
		background-image: url('../img/icon1.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 45% auto;
	}
}

@media (max-width: 599px) and (min-width: 500px) {
		.iconIn1 {
		background-image: url('../img/icon1.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 55% auto;
	}
}

@media (max-width: 499px) {
	.iconIn1 {
		background-image: url('../img/icon1.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 70% auto;
	}
}







/*
@media (min-width: 770px) {
	.iconIn2 {
		background-image: url('../img/icon2.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 90% auto;
	}
}
*/
@media (max-width: 1199px) and (min-width: 768px){
	.iconIn2 {
		background-image: url('../img/icon2.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 30% auto;
	}
}

@media (max-width: 767px) and (min-width: 600px) {
	.iconIn2 {
		background-image: url('../img/icon2.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 45% auto;
	}
}

@media (max-width: 599px) and (min-width: 500px) {
	.iconIn2 {
		background-image: url('../img/icon2.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 55% auto;
	}
}

@media (max-width: 499px) {
	.iconIn2 {
		background-image: url('../img/icon2.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 70% auto;
	}
}








@media (min-width: 1200px) {
	.iconIn3 {
		background-image: url('../img/products/pendant.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 80% auto;
	}
}

@media (max-width: 1199px) and (min-width: 992px){
	.iconIn3 {
		background-image: url('../img/products/pendant.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 30% auto;
	}
}

@media (max-width: 991px) and (min-width: 630px) {
	.iconIn3 {
		background-image: url('../img/products/pendant.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 40% auto;
	}
}

@media (max-width: 629px) and (min-width: 515px){
	.iconIn3 {
		background-image: url('../img/products/pendant.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 50% auto;
	}
}

@media (max-width: 514px) and (min-width: 415px){
	.iconIn3 {
		background-image: url('../img/products/pendant.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 60% auto;
	}
}

@media (max-width: 414px) {
	.iconIn3 {
		background-image: url('../img/products/pendant.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 75% auto;
	}
}











@media (min-width: 1200px) {
	.iconIn4 {
		background-image: url('../img/products/help.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 80% auto;
	}
}

@media (max-width: 1199px) and (min-width: 992px){
	.iconIn4 {
		background-image: url('../img/products/help.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 30% auto;
	}
}

@media (max-width: 991px) and (min-width: 630px) {
	.iconIn4 {
		background-image: url('../img/products/help.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 40% auto;
	}
}

@media (max-width: 629px) and (min-width: 515px){
	.iconIn4 {
		background-image: url('../img/products/help.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 50% auto;
	}
}

@media (max-width: 514px) and (min-width: 415px){
	.iconIn4 {
		background-image: url('../img/products/help.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 60% auto;
	}
}

@media (max-width: 414px) {
	.iconIn4 {
		background-image: url('../img/products/help.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 75% auto;
	}	
}














@media (min-width: 1200px) {
	.iconIn5 {
		background-image: url('../img/products/exterioralarm.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 80% auto;
	}
}
@media (max-width: 1199px) and (min-width: 992px){
	.iconIn5 {
		background-image: url('../img/products/exterioralarm.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 30% auto;
	}
}

@media (max-width: 991px) and (min-width: 630px) {
	.iconIn5 {
		background-image: url('../img/products/exterioralarm.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 40% auto;
	}
}

@media (max-width: 629px) and (min-width: 515px){
	.iconIn5 {
		background-image: url('../img/products/exterioralarm.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 50% auto;
	}
}

@media (max-width: 514px) and (min-width: 415px){
	.iconIn5 {
		background-image: url('../img/products/exterioralarm.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 60% auto;
	}
}

@media (max-width: 414px) {
	.iconIn5 {
		background-image: url('../img/products/exterioralarm.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 75% auto;
	}	
}













@media (min-width: 1200px) {
	.iconIn6 {
		background-image: url('../img/products/motion.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 80% auto;
	}
}
@media (max-width: 1199px) and (min-width: 992px){
	.iconIn6 {
		background-image: url('../img/products/motion.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 30% auto;
	}
}

@media (max-width: 991px) and (min-width: 630px) {
	.iconIn6 {
		background-image: url('../img/products/motion.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 40% auto;
	}
}

@media (max-width: 629px) and (min-width: 515px){
	.iconIn6 {
		background-image: url('../img/products/motion.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 50% auto;
	}
}

@media (max-width: 514px) and (min-width: 415px){
	.iconIn6 {
		background-image: url('../img/products/motion.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 60% auto;
	}
}

@media (max-width: 414px) {
	.iconIn6 {
		background-image: url('../img/products/motion.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 75% auto;
	}	
}












@media (min-width: 1200px) {
	.iconIn7 {
		background-image: url('../img/products/dashboard.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 80% auto;
	}
}

@media (max-width: 1199px) and (min-width: 992px){
	.iconIn7 {
		background-image: url('../img/products/dashboard.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 30% auto;
	}
}

@media (max-width: 991px) and (min-width: 630px) {
	.iconIn7 {
		background-image: url('../img/products/dashboard.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 40% auto;
	}
}

@media (max-width: 629px) and (min-width: 515px){
	.iconIn7 {
		background-image: url('../img/products/dashboard.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 50% auto;
	}
}	

@media (max-width: 514px) and (min-width: 415px){
	.iconIn7 {
		background-image: url('../img/products/dashboard.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 60% auto;
	}
}

@media (max-width: 414px) {
	.iconIn7 {
		background-image: url('../img/products/dashboard.png');
		position: relative;
		background-position: right;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 75% auto;
	}	
}













@media (min-width: 1200px) {
	.iconIn8 {
		background-image: url('../img/products/contactsensor.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 80% auto;
	}
}

@media (max-width: 1199px) and (min-width: 992px){
	.iconIn8 {
		background-image: url('../img/products/contactsensor.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 30% auto;
	}
}

@media (max-width: 991px) and (min-width: 630px) {
	.iconIn8 {
		background-image: url('../img/products/contactsensor.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 40% auto;
	}
}

@media (max-width: 629px) and (min-width: 515px){
	.iconIn8 {
		background-image: url('../img/products/contactsensor.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 50% auto;
	}
}

@media (max-width: 514px) and (min-width: 415px){
	.iconIn8 {
		background-image: url('../img/products/contactsensor.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 60% auto;
	}
}

@media (max-width: 414px) {
	.iconIn8 {
		background-image: url('../img/products/contactsensor.png');
		position: relative;
		background-position: left;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 75% auto;
	}
}









