/**
 * NAVBAR STYLES
 */

/*increases the height of the navbar*/
@media (min-width: 768px) {
	.navbar {
		height: 75px;
		background-color: #FFAB26;
	}
}

@media (max-width: 767px) {
	.navbar {
		height: 51px;
		background-color: #FFAB26;
	}
}

@media (min-width: 768px) {
	.container {
		height: 75px;
	}
}

@media (max-width: 767px) {
	.container {
		height: 51px;
	}
}



/*floats the navbar links to the right*/
.navbar-inverse .navbar-nav {
	float: right;
	text-align: right;
	position: relative;
}



/*vertically centers the links, changes link font and color*/
.navbar .nav > li > a {
/*	color: #FFB300;*/
	color: #666;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 0px;
}

@media (min-width: 768px) {
	ul.nav.navbar-nav {
		height: 75px;
		margin-top: 20px;
	}
}

@media (max-width: 767px) {
	ul.nav.navbar-nav {
		height: 51px;
		margin-top: 20px;
	}
}

/*vertically centers the main site title*/
@media (min-width: 768px) {
	.navbar-brand {
		height: 75px;
		line-height: 45px;
	}
}

@media (max-width: 767px) {
	.navbar-brand {
		height: 51px;
		line-height: 45px;
	}
}



/*color and font for main site title*/
.navbar-inverse .navbar-brand {
	color: #FFB300;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 3px;
}

.navbar-inverse .navbar-brand:hover {
	color: #FFB300;
}



/*light grey border beneath nav*/
.navbar-inverse {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}


/*active link styles desktop*/
@media (min-width: 768px) {
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
		background-color: transparent;
		border-bottom: 2px solid #fff;
		color: #fff;
	}
}

/*active link styles mobile*/
@media (max-width: 767px) {
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
		background-color: transparent;
		/*color: #FFB300;*/
		color: #666;
		text-decoration: underline;
	}
}

/*desktop links*/
@media (min-width: 768px) {
	.navbar .nav > li > a {
		color: #fff;
	}

	.navbar .nav > li > a:hover {
		color: #fff;
	}
}

/*mobile links*/
@media (max-width: 767px) {
	.navbar .nav > li > a {
		/*color: #FFB300;*/
		color: #666;
		font-size: 15px;
		letter-spacing: 1px;
		line-height: 22px;
		overflow: none;
	}

	.navbar .nav > li > a:hover {
		/*color: #FFB300;*/
		color: #666;
	}
}








/**
 * MOBILE HAMBURGER MENU STYLES
 */

/*gets rid of default black border*/
.navbar-inverse .navbar-toggle {
	border-color: #fff;
}

/*makes lines white*/
.navbar-inverse .navbar-toggle .icon-bar {
	background-color:#fff;
}

/*keeps lines white on hover*/
.navbar-inverse .navbar-toggle .icon-bar:hover {
	background-color:#fff;
}

button.navbar-toggle.collapsed {
	height: 35px;
	background-color: transparent;
	border: none;
}

/*keeps background white on hover*/
button.navbar-toggle.collapsed:hover {
	background-color: transparent;
	border: none;
	height: 35px;
}

button.navbar-toggle {
	background-color: transparent;
	border: none;
	height: 35px;
} 

button.navbar-toggle:hover {
	background-color: transparent;
	border: none;
	height: 35px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: transparent;
	border: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	background-color: transparent;
	border: none;
	font-size:12px;
}

/*mobile nav menu*/
@media (max-width: 767px) {
	div#navbar.collapse.navbar-collapse {
		height: 400%;
		overflow: auto;
		background-color: #fff;
		border-bottom: 1px solid #f5f5f5;
		box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	}
}






/**
 * BODY STYLES
 */

/*smaller space between the first paragraph and the nav bar*/
 @media (min-width: 768px) {
	 .negMargin{
	 	margin-top: -15px;
	 }
}

 @media (max-width: 767px) {
	 .negMargin{
	 	margin-top: -50px;
	 }
}

/*header text desktop*/
@media (min-width: 768px) {
	h1 {
		/*color: #FFB300;*/
		color: #666;
		font-family: "Lato", "Helvetica", "Arial", sans-serif;
		font-size: 30px;
		font-weight: 300;
		letter-spacing: 2px;
		text-align: center;
		line-height: 50px;
	}
}

/*header text mobile*/
@media (max-width: 767px) {
	h1 {
		/*color: #FFB300;*/
		color: #777;
		font-family: "Lato", "Helvetica", "Arial", sans-serif;
		font-size: 20px;
		font-weight: 400;
		letter-spacing: 2px;
		margin-top: 60px;
		line-height: 1.6;
		text-align: center;
		margin-left: 2%;
		margin-right: 2%;
	}
}

/*body text*/
@media (min-width: 768px) {
	.body {
		font-family: "Lato", "Andale Mono", serif;
		font-weight: 300;
		font-size: 15px;
		line-height: 24px;
		letter-spacing: 1px;
		text-align: center;
		color: #999;
	}
}


/*body text mobile*/
@media (max-width: 767px) {
	.body {
		font-family: "Lato", "Helvetica", "Arial", sans-serif;
		font-weight: 300;
		font-size: 15px;
		line-height: 1.7;
		letter-spacing: 1px;
		text-align: center;
		color: #999;
		padding-top: 15px;
	}
}

.body a {
	color: #FFB300;
/*	color: #666;*/
}






.learnMore {
	background-color: #FFAB26;
	padding: 2px 7px 2px 7px;
	color: #fff;
}

.learnMore > a{
	color: #fff;
	text-decoration: none;
}

.learnMore > a:hover {
	text-decoration: none;
}






/**
 * MODAL STYLES 
 */

.modal-title {
	/*color: #FFB300;*/
	color: #666;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 2px;
}

.modal-body {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 1px;
	text-align: left;
	color: #999;
}

.modalPad {
	padding-bottom: 30px;
}

.orange{
	color: #FFB300;
	font-weight: 400;
}

/*square corners*/
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.btn {
	color: #666;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 1px;
}

.btn-default:hover {
	background-color: #fff;
	border-color: #ccc;
	/*color: #FFB300;*/
	color: #666;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 1px;
}

@media (min-width: 768px) {
	.notify {
		border: 3px solid #f5f5f5;
		background-color: #fff;
		margin-top: 75px;
		text-align: center;
		margin-bottom: -18vh;
	}
}

@media (max-width: 767px) {
	.notify {
		border: 3px solid #f5f5f5;
		background-color: #fff;
		margin-top: 75px;
		margin-bottom: -5vh;
		text-align: center;
	}
}

.alert-dismissable .close, .alert-dismissible .close {
	color: #000;
}


@media (min-width: 992px){
	.firstSection {
		min-height: 100vh;
	}
}

@media (min-width: 768px){
	.secondSection {
		padding-top: 10vh;
	}
}

/*desktop*/
@media (min-width: 969px){
	section {
		padding-top: 20vh;
	}
}

/*tablets*/
@media (max-width: 968px) and (min-width: 768px){
	section {
		padding-top: 12vh;
	}
}

/*mobile*/
@media (max-width: 767px) {
	section {
		padding-top: 9vh;
	}
}

.teamImg {
	width: 40%;
	height: 40%;
	padding-bottom: 5px;
}