/**
 * STORYBOARD OUTER WRAPPER
 */
.storyOut {
	height: 275px;
}

.storyOut2 {
	height: 300px;
}

.storyOut3 {
	height: 375px;
}

/**
 * STORYBOARD IMAGE 1
 */
@media (min-width: 768px) {
	.storyIn1 {
		background-image: url('../img/storyboard/1.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		margin-top: -30px;
		background-size: 100% auto;
	}
}

@media (max-width: 767px) and (min-width: 545px){
	.storyIn1 {
		background-image: url('../img/storyboard/1.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		margin-top: -30px;
		background-size: 55% auto;
	}
}

@media (max-width: 544px) and (min-width: 415px){
	.storyIn1 {
		background-image: url('../img/storyboard/1.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		margin-top: -30px;
		background-size: 70% auto;
	}
}

@media (max-width: 414px) {
	.storyIn1 {
		background-image: url('../img/storyboard/1.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		margin-top: -30px;
		background-size: 100% auto;
	}
}


/**
 * STORYBOARD IMAGE 2
 */
@media (min-width: 768px) {
	.storyIn2 {
		background-image: url('../img/storyboard/2.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		margin-top: -30px;
		background-size: 100% auto;
	}
}

@media (max-width: 767px) and (min-width: 545px){
	.storyIn2 {
		background-image: url('../img/storyboard/2.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		margin-top: -30px;
		background-size: 55% auto;
	}

}

@media (max-width: 544px) and (min-width: 415px){
	.storyIn2 {
		background-image: url('../img/storyboard/2.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		margin-top: -30px;
		background-size: 70% auto;
	}
}

@media (max-width: 414px) {
	.storyIn2 {
		background-image: url('../img/storyboard/2.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		margin-top: -30px;
		background-size: 100% auto;
	}
}

/**
 * STORYBOARD IMAGE 3
 */
@media (min-width: 768px) {
	.storyIn3 {
		background-image: url('../img/storyboard/3.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		margin-top: -30px;
		background-size: 100% auto;
	}
}

@media (max-width: 767px) and (min-width: 545px){
	.storyIn3 {
		background-image: url('../img/storyboard/3.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		margin-top: -30px;
		background-size: 55% auto;
	}
}

@media (max-width: 544px) and (min-width: 415px){
	.storyIn3 {
		background-image: url('../img/storyboard/3.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		margin-top: -30px;
		background-size: 70% auto;
	}
}

@media (max-width: 414px) {
	.storyIn3 {
		background-image: url('../img/storyboard/3.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		margin-top: -30px;
		background-size: 100% auto;
	}
}

/**
 * STORYBOARD IMAGE 4
 */
@media (min-width: 768px) {
	.storyIn4 {
		background-image: url('../img/storyboard/4.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		margin-top: -30px;
		background-size: 100% auto;
	}
}

@media (max-width: 767px) and (min-width: 545px){
	.storyIn4 {
		background-image: url('../img/storyboard/4.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		margin-top: -30px;
		background-size: 55% auto;
	}
}

@media (max-width: 544px) and (min-width: 415px){
	.storyIn4 {
		background-image: url('../img/storyboard/4.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		margin-top: -30px;
		background-size: 70% auto;
	}
}

@media (max-width: 414px) {
	.storyIn4 {
		background-image: url('../img/storyboard/4.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		margin-top: -30px;
		background-size: 100% auto;
	}
}



/**
 * STORYBOARD SECTION STYLES
 */

/*Storyboard images desktop*/
@media (min-width: 1200px) {
	.storyImg {
		text-align: right;
		padding-top: 30px;
		overflow: hidden;
	}
}

/*storyboard images tablet and mobile*/
@media (max-width: 1199px) {
	.storyImg {
		text-align: center;
		padding-top: 15px;
		overflow: hidden;
	}
}

/*storyboard text desktop*/
@media (min-width: 1200px) {
	.storyText {
		font-family: "Lato", "Helvetica", "Arial", sans-serif;
		font-weight: 300;
		font-size: 15px;
		line-height: 24px;
		letter-spacing: 1px;
		text-align: left;
		color: #999;
		padding-bottom: 50px;
		padding-top: 30px;
	}
}


/*storyboard text tablet and mobile*/
@media (max-width: 1199px) {
	.storyText {
		font-family: "Lato", "Helvetica", "Arial", sans-serif;
		font-weight: 300;
		font-size: 15px;
		line-height: 1.7;
		letter-spacing: 1px;
		text-align: center;
		color: #999;
		padding-top: 0px;
		padding-bottom: 150px;
	}
}

/*storyboard text desktop*/
@media (min-width: 1200px) {
	.storyTextLast {
		font-family: "Lato", "Helvetica", "Arial", sans-serif;
		font-weight: 300;
		font-size: 15px;
		line-height: 24px;
		letter-spacing: 1px;
		text-align: left;
		color: #999;
		padding-bottom: 50px;
		padding-top: 30px;
	}
}


/*storyboard text tablet and mobile*/
@media (max-width: 1199px) {
	.storyTextLast {
		font-family: "Lato", "Helvetica", "Arial", sans-serif;
		font-weight: 300;
		font-size: 15px;
		line-height: 1.7;
		letter-spacing: 1px;
		text-align: center;
		color: #999;
		padding-top: 0px;
		padding-bottom: 0px;
	}
}








/**
 * SAFER AGING STORYBOARD IMAGES
 */

.storyOutAge {
	height: 275px;
}


@media (min-width: 1200px) {
	.storyIn5 {
	 	background-image: url('../img/aging/1.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 100% auto;
	}
}

@media (max-width: 1199px) and (min-width: 992px){
	.storyIn5 {
	 	background-image: url('../img/aging/1.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 40% auto;
	}
}

@media (max-width: 991px) and (min-width: 601px){
	.storyIn5 {
	 	background-image: url('../img/aging/1.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 58% auto;
	}
}

@media (max-width: 600px) and (min-width: 450px){
	.storyIn5 {
	 	background-image: url('../img/aging/1.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 77% auto;
	}
}


@media (max-width: 449px){
	.storyIn5 {
	 	background-image: url('../img/aging/1.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 100% auto;
	}
}






@media (min-width: 1200px) {
	.storyIn6 {
	 	background-image: url('../img/aging/2.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 60% auto;
	 }
}

@media (max-width: 1199px) and (min-width: 992px) {
	.storyIn6 {
	 	background-image: url('../img/aging/2.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 35% auto;
	 }
}

@media (max-width: 991px) and (min-width: 601px) {
	.storyIn6 {
	 	background-image: url('../img/aging/2.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 47% auto;
	 }
}

@media (max-width: 600px) and (min-width: 450px) {
	.storyIn6 {
	 	background-image: url('../img/aging/2.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 62% auto;
	 }
}

@media (max-width: 449px) {
	.storyIn6 {
	 	background-image: url('../img/aging/2.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 88% auto;
	 }
}





@media (min-width: 1200px) {
	.storyIn7 {
	 	background-image: url('../img/aging/3.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 65% auto;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	.storyIn7 {
	 	background-image: url('../img/aging/3.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 40% auto;
	}
}

@media (max-width: 991px) and (min-width: 601px) {
	.storyIn7 {
	 	background-image: url('../img/aging/3.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 52% auto;
	}
}

@media (max-width: 600px) and (min-width: 450px) {
	.storyIn7 {
	 	background-image: url('../img/aging/3.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 65% auto;
	}
}

@media (max-width: 449px) {
	.storyIn7 {
	 	background-image: url('../img/aging/3.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 100% auto;
	}
}






@media (min-width: 1200px) {
	.storyIn8 {
	 	background-image: url('../img/aging/4.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 60% auto;
	}
}

@media (max-width: 1199px) and (min-width: 992px){
	.storyIn8 {
	 	background-image: url('../img/aging/4.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 38% auto;
	}
}

@media (max-width: 991px) and (min-width: 601px){
	.storyIn8 {
	 	background-image: url('../img/aging/4.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 50% auto;
	}
}

@media (max-width: 600px) and (min-width: 450px){
	.storyIn8 {
	 	background-image: url('../img/aging/4.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 65% auto;
	}
}


@media (max-width: 449px){
	.storyIn8 {
	 	background-image: url('../img/aging/4.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 93% auto;
	}
}








/**
 * SAFER CLASSROOM STORYBOARD IMAGES
 */

.storyOutClass {
	height: 275px;
}


@media (min-width: 1200px) {
	.storyIn9 {
	 	background-image: url('../img/classroom/1.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 75% auto;
	}
}

@media (max-width: 1199px) and (min-width: 992px){
	.storyIn9 {
	 	background-image: url('../img/classroom/1.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 45% auto;
	}
}

@media (max-width: 991px) and (min-width: 601px){
	.storyIn9 {
	 	background-image: url('../img/classroom/1.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 60% auto;
	}
}

@media (max-width: 600px) and (min-width: 450px){
	.storyIn9 {
	 	background-image: url('../img/classroom/1.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 78% auto;
	}
}


@media (max-width: 449px){
	.storyIn9 {
	 	background-image: url('../img/classroom/1.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 100% auto;
	}
}






@media (min-width: 1200px) {
	.storyIn10 {
	 	background-image: url('../img/classroom/2.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 60% auto;
	 }
}

@media (max-width: 1199px) and (min-width: 992px) {
	.storyIn10 {
	 	background-image: url('../img/classroom/2.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 42% auto;
	 }
}

@media (max-width: 991px) and (min-width: 601px) {
	.storyIn10 {
	 	background-image: url('../img/classroom/2.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 55% auto;
	 }
}

@media (max-width: 600px) and (min-width: 450px) {
	.storyIn10 {
	 	background-image: url('../img/classroom/2.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 72% auto;
	 }
}

@media (max-width: 449px) {
	.storyIn10 {
	 	background-image: url('../img/classroom/2.png');
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		height: inherit;
		background-size: 100% auto;
	 }
}
